<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title class="ion-text-center">
     Rick and Morty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let personaje of personajes">
        <ion-card>
          <ion-card-header>
            
            <ion-card-subtitle>
              <span class="text-primary">{{personaje.id}}. </span>
              <span class="noticia-source-name">{{personaje.status}}</span>
            </ion-card-subtitle>
            <ion-card-title>{{personaje.name}}</ion-card-title>
          </ion-card-header>
          <ion-img [src]="personaje.image"></ion-img>
          <ion-card-content>
            <p>
              Especie: {{personaje.species}}
            </p>
            <p>
              Genero: {{personaje.gender}}
            </p>
            <p>
              Localizacion: {{personaje.location.name}}
            </p>
            <p>
              Creado: {{personaje.created}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>